<?xml version="1.0" encoding="UTF-8"?>

<!--
Set this for authenticatio mode
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <authentication mode="Forms">
        <forms loginUrl="Login.aspx">
          <credentials passwordFormat="Clear">
            <user name="Kenneth" password="Kenneth"/>
            <user name="Wagner" password="Wagner"/>
          
          </credentials>
        </forms>
      </authentication>
    
    </system.web>

</configuration>
